.blogPosts {
    min-height: calc(100vh - 90px - 20vh);
    padding: 30px;
    width: 50%;
    margin: 100px auto;

    h1 {
        margin-bottom: 20px;
    }

    article {
        margin-bottom: 30px;
    }
}

.button, .disabledButton, .pageNumber, .currentPageNumber {
    text-decoration: none;
    margin: 5px;
    background-color: #333;
    color: white;
    padding: 5px;
}

.disabledButton {
    pointer-events: none;
    background-color: #999;
    color: #DDD;
}

.currentPageNumber {
    background-color: blueviolet;
    pointer-events: none;
}